.item {
	border-bottom: 1px solid var(--c15t-dev-tools-border);
}

.trigger {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	font-size: 0.875rem;
	font-weight: 500;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 200ms;
	text-align: left;
}

.chevron {
	transition: transform 200ms cubic-bezier(0.87, 0, 0.13, 1);
	flex-shrink: 0;
}

.trigger:hover {
	background-color: var(--c15t-dev-tools-accent);
	color: var(--c15t-dev-tools-accent-foreground);
}

.trigger[data-state="open"] > .chevron {
	transform: rotate(180deg);
}

.content {
	overflow: hidden;
	font-size: 0.875rem;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 200ms;
}

.content[data-state="open"] {
	animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.content[data-state="closed"] {
	animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.contentInner {
	padding: 1rem;
	padding-top: 0;
}

@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		height: var(--radix-accordion-content-height);
	}
}

@keyframes slideUp {
	from {
		height: var(--radix-accordion-content-height);
	}
	to {
		height: 0;
	}
}
