.root {
	display: inline-flex;
	align-items: center;
	width: 42px;
	height: 24px;
	background-color: var(--c15t-dev-tools-input);
	border-radius: 9999px;
	position: relative;
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 0.05);
	-webkit-tap-highlight-color: transparent;
}

.root[data-state="checked"] {
	background-color: var(--c15t-dev-tools-primary);
}

.root:focus-visible {
	outline: none;
}

.thumb {
	display: block;
	width: 20px;
	height: 20px;
	background-color: var(--c15t-dev-tools-background);
	border-radius: 9999px;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 0.05);
	transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
	transform: translateX(2px);
	will-change: transform;
}

.thumb[data-state="checked"] {
	transform: translateX(20px);
}

.root:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.root[data-state="unchecked"] {
	background-color: var(--c15t-dev-tools-input);
}

.thumb[data-state="unchecked"] {
	transform: translateX(2px);
}

